:root {
 --color-primary: #007bff; 
 --color-secondary: #f8f9fa; 
 --color-text: #333; 
 --shadow-light: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); 
 --shadow-strong: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.3); 
 
    
 --border-radius-card: 0.9375rem; 
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
font-family: Arial, sans-serif;
background-color: var(--color-secondary);
color: var(--color-text);
line-height: 1.6;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}