.navbar {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: white;
    box-shadow: var(--shadow-light);
    font-family: 'Sora', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.logo-img {
    order: 2;
    width: 1.875rem; 
    height: auto;
    margin-right: 0.625rem;
}

.logo-container h1 {
    order: 1;
    font-size: 1.2em;
    font-weight: bold;
}

.menu-list {
    display: none; 
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-align: center;
    font-family: 'inter';
    margin-left: auto;
    margin-right: auto;
}

.menu-list li {
    
    padding: 0.3125rem 0;
}

.menu-list a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.9em;
    font-family: 'inter';
}

.separator {
    display: none; 
}
@media (min-width: 1024px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.9375rem 3.125rem;
    }


    .menu-list {
        display: flex; 
        flex-direction: row;
        width: auto;
        gap: 0.9375rem;

    }

    .separator {
        display: inline-block; 
        color: #ccc;
    }

    .menu-list a{
        font-size: 1.2em;
    }

    .logo-container h1{
        font-size: 1.7em;
    }
    .logo-img{
        width: 4rem;
    }
}