.hero-section {
    position: relative;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #093A49BA;
    z-index: 3;
    box-shadow: rgb(231, 37, 37);
}

.hero-content {
    position: relative;
    z-index: 10; 
    text-align: center;
    color: white;
    padding: 0 1.25rem;
    max-width: 80%;
}

.hero-logo {
    position: absolute;
    width: 18.125rem; 
    z-index: 1;
    right: 4%;
    bottom: 2%;
    
}

.main-title {
    font-size: 1.5em; 
    margin: 0;
    position: relative;
    z-index: 2;
    text-align: center;
     
}

.subtitle {
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 0.3125rem;
    position: relative;
    z-index: 2;
    text-align: center;
}


@media (min-width: 768px) {
    .hero-section {
        
        height: 50vh;
    }

    .hero-logo {
        
        width: 22rem; 
    }

    .main-title {
        font-size: 2em; 
    }

    .subtitle {
        font-size: 1.1em; 
    }
}



@media (min-width: 1024px) {
    .hero-section {
        height: 60vh;
    }

    .hero-logo {
        
        width: 22rem; 

        
        right: auto;
        bottom: auto;

        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-title {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1.3em;
    }
}
@media (min-width: 1200px) {
    .hero-section{
        height: 75vh;
    }
    .hero-logo{
        width: 26rem;
    }
}



@media (min-width: 1440px) {
    .hero-section {
        height: 75vh;
    }

    .hero-logo {
        width: 32rem; 
    }

    .main-title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.5em;
    }
}